---
const

---

<article>
<img src="../public/card_productlist.png" alt="artist billede">
<div id="info">
<p>Lørdag d.24/06</p>
<p>Manegen</p>
<p>20:05-23:30</p>
</div>
<p>Kölsch is considered one of the leading melodic techno producers and DJs in the world.</p>
</article>

<style>
    *{box-sizing: border-box;}
    article{
        background-color: 29E154;
        color: white;
    }
    .info{
        color: black;
        font-size: 10px;
    }
    

    
</style>