---

import Knap_product from "../komponenter/Knap_product.astro";

---

<article>
    <div class="green-box">
        <h2 class="card-title">HAAi</h2>
        <p class="card-genre">Genre fluid, wobbly techno</p>
    </div>
    <div class="card">
        <img src="img/test.png" alt="HAAi" class="artist billede">
            <div class="card-content">
                <div class="info">
                    <p class="card-date">25 August 2023</p>
                    <p class="card-time">22.05-23.30</p>
                    <p class="card-venue">Karrusel</p>
                </div>
                <p class="card-description">The Australian-born, London-based DJ and producer, HAAi, will bring her frenetic energy and pounding bass to Karrusel this year.</p>
                <Knap_product text="Read more" />
            </div>
    </div>
    
</article>

<style>
article{
    margin: 0;
    padding: 0;
    width: 322px;
    height: fit-content;
    
  
}

.green-box{
position: relative;
background-color: #29E154;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: white;
width: 370px;
margin-left: 6.8rem;
transform: rotate(90deg);
top: 14.979rem;
}


.card {
    width: 246px;
    background-color: #fff;
    position: relative;
    flex-direction: column;
    color: black;
    height: 370px;
    top: 0.3rem;
  }

.card img {
  position: relative;
  right: 0.06rem;
  widows: 100%;
    
  }
  
.card-image {
    width: 100%;
    height: auto;
    display: relative;
    flex-direction: row;
    position: relative;
    
  }
  
.card-content {
    flex: 1;
    position: relative;
    bottom: 1.1rem;
    left: 0.2rem;
  }
  
.info{
    margin-top: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    color:black;
  }

.info p {
    padding-left:0.8rem;
    font-size: 12px;
}

.card-description{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    padding: 0.2rem;
    width: 250px;
    
    line-height: 1.5;
    color: black;
}


.card-genre{
    padding: 0.5rem;
    margin: 0rem;  
    font-size: 14px; 
    position: relative;
    left: 1.2rem;
    color: white;
}
  
.card-title {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    left: 1.5rem;
    margin: 0rem;
    color: white;
    top: 0.5rem;
}

.card-link{
    background-image: linear-gradient(45deg, #68DA23, #E9F4E2);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    border-radius: 15px;
    text-decoration: none;
    padding: 0.6rem 30px;
}


    
</style>