---
const { text } = Astro.props;
---

<button>
  <span>{text}</span>
</button>

<style>
  @font-face {
    font-family: "urbanist";
    src: url(../style.css/fonts/urbanist-variablefont_wght-webfont.woff2-kopi\ 2);
  }

  button {
    background: linear-gradient(90deg, rgba(104, 218, 35, 1) 14%, rgba(76, 195, 91, 1) 65%, rgba(255, 251, 251, 1) 100%);
    color: #140345;
    border-radius: 2rem;
    border: none;
    height: 3rem;
    width: 10rem;
  }

  button:hover {
    background: linear-gradient(90deg, rgba(68, 16, 255, 1) 0%, rgba(163, 230, 123, 1) 76%, rgba(255, 251, 251, 1) 98%);
  }
  span {
    color: #fffbfb;
    font-size: 1.3rem;
    font-family: "urbanist";
  }
</style>
