---
import Knap_product from "../komponenter/Knap_product.astro";
import "../styles/singleview.css";
import "../styles/style.css";
import "../styles/layout.css";
---

<article class="article">
  <div id="box" class="box">
    <span class="close">&times;</span>
    <h1>Sign-up for our <br /> newsletter!</h1>

    <p>
      Sign up for our newsletter to stay tuned with the program
      <br />lineup and the most exciting artists!
      <br />Dive into the electronic beats and events
      <br />straight to your inbox.
    </p>

    <details class="navn">
      <summary>Name</summary>
      <p>Name:</p>
    </details>

    <details class="mail">
      <summary>E-mail</summary>
      <p>E-mail</p>
    </details>
    <!-- I am assuming this is a placeholder, adjust according to your framework -->
    <Knap_product text="Sign up" />

    <img src="img/logo.svg" alt="logo" />
  </div>
</article>

<style>
  .article {
    align-items: center;
  }

  /* farver */
  .box {
    background-color: #29e154;
    font-family: "urbanist";
    box-sizing: border-box;
    border: 3px solid #4e14c8;
    width: 60%;
  }

  summary {
    color: #f3f0f9;
    font-size: 30px;
    border-radius: 2px solid #4e14c8;
    background-color: #29e154;
    font-size: 20px;
    padding: 15px;
  }

  /* navn */
  .navn summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #4e14c8;
  }

  .navn summary:after {
    content: "\25B8";
    transform: rotate(90deg);
    width: 12px;
    height: 12px;
    color: #4e14c8;
  }

  /* mail */

  .mail summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 0.5px solid #4e14c8;
  }

  .mail summary:after {
    content: "\25B8"; /* Unicode pil til højre */
    transform: rotate(90deg);
    width: 12px;
    height: 12px;
    color: #4e14c8;
  }

  /* tekst */

  p {
    text-align: start;
    color: #f5f5f5;
    margin-left: 20px;
    line-height: 25px;
  }

  h1 {
    text-align: center;
    color: #4e14c8;
  }

  /* kryds */

  .close {
    float: right;
    font-size: 25px;
    font-weight: lighter;
    cursor: pointer;
    margin-right: 7px;
    color: #4e14c8;
  }

  .close:hover {
    color: rgb(244, 247, 248);
  }
</style>

<!-- javascript med lukkefunktion -->

<script>
  // Henter krydset og boksen
  var closeBtn = document.querySelector(".close");
  var box = document.getElementById("box");

  // Tilføjer en eventlistener til krydset
  closeBtn.addEventListener("click", function () {
    // Fjerner boksen fra DOM'en ved at skjule den
    box.style.display = "none";
  });
</script>
