---
import Ny_nav_knap from "../komponenter/Ny_nav_knap.astro";
---


<header>
    <div class="logo">
        <a href="src/pages/index.astro"><img src="img/nav_logo.png" alt="logo"></a>
    </div>
    <nav>
        <ul class="menu">
            <li><a href="src/pages/index.astro">Home</a></li>
            <li><a href="src/pages/singleview.astro">Line up</a></li>
            <li><a href="src/pages/map.astro">Map</a></li>
            <li><a href="src/pages/about_us.astro">About us</a></li>
            <div class="btn">
            <li><Ny_nav_knap text="Buy tickets"/></li>
        </div>
        </div>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
</header>

<style>
    .menu {
    display: flex;
    z-index: 11;
    list-style: none;
    margin: 0;
    padding: 0;
    }
          
.menu li {
    margin-right: 5px;
    }
          
.menu li:last-child {
    margin-right: 0;
    }
          
.menu a {
    display: block;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    text-align: center;
    margin-right: 80px;
    font-family: "urbanist";
    z-index: 11;
    }
          
.menu a:hover {
    color: white;
        }
          
.burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
    }
          
.burger .line {
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-bottom: 5px;
    transition: 0.2s linear;
    }
.burger {
    display: none;
        }
@media screen and (max-width: 800px) {
    .menu {
    display: none;
    }
.burger {
    display: block;
    }
.burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
    }
          
.burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
    }
          
.burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
    }
          
nav.active .menu {
    display: block;
    background-color:#ECE6DB;
    position:fixed;
    top: 120px;
    left: 0;
    width: 100%;
    z-index: 1;
    }
          
nav.active .menu li {
    margin: 10px 20px;
        }
          
nav.active .menu a {
    font-size: 16px;
        }
    }
header {
    display: flex;
    justify-content: space-between;
    align-items:end;
    margin-top: -25px;
    z-index: 4;
    }
          
nav {
    display: flex;
    align-items: center;
    }

.logo img{
    margin-top: 5rem;
    margin-left: 12rem;
    margin-bottom: 1.3rem;
    width: 10rem;
    z-index: 2;
    background-color: transparent;
}

li button{
    background-image: linear-gradient(45deg, #68DA23, #E9F4E2);
    border-radius: 10px;
    z-index: 10; 
    display: block;
    padding: 30px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    text-align: center;
    margin-top: 30px;
    margin-right: 45px;
    font-family: "urbanist";
}
</style>