.grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
    margin-left: 10px;
    margin-top: -20px;
}
@media screen and (max-width: 800px) {
    .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1em;
    }
}

.grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid #4E14C8;
    width: 100%;
    margin-top: -3rem;
    margin-bottom: 3rem;
    gap:5px;
}
@media screen and (max-width: 800px) {
    .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1em;
    }
}



.about_us{
    font-family:"urbanist";
    font-size: 80px;
    text-align: center;
    color:#29E154;
    letter-spacing: 4px;
}

.green_text{
    font-family:"urbanist";
    font-size: 18px;
    text-align: left;
    color:#29E154;
}


.festival_experience{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 3px solid #4E14C8;
    width: 100%;
    margin-bottom: 3rem;
    gap:1px;
}
@media screen and (max-width: 800px) {
    .festival_experience{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1em;
    }
}

.festival_header{
    font-family:"urbanist";
    font-size: 40px;
    color:white;
    letter-spacing: 14px; 
    transform: rotate(90deg);
    margin-top: 9rem;
    position:flex;
    width:160px;
    white-space: nowrap;
}

.history_header{
    font-family:"urbanist";
    font-size: 40px;
    color:white;
    letter-spacing: 14px; 
    transform: rotate(90deg);
    margin-top: 15rem;
    position:flex;
    width:160px;
    white-space: nowrap;
}

.p_history{
    font-family:"urbanist";
    font-size: 18px;
    color:white;
    line-height: 2rem;
}

.sustainability{
    font-family:"urbanist";
    font-size: 40px;
    color:#29E154;
    letter-spacing: 18px; 
    transform: rotate(90deg);
    margin-top: 7rem;
    position:flex;
    width:160px;
    white-space: nowrap;
}

.sustainability_grid{
    margin-top: -3rem;
    height: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 3px solid #4E14C8;
    width: 100%;
    margin-bottom: 10rem;
    gap:5px;
    background-image: url(img/baggrundsbillede.png);
}
@media screen and (max-width: 800px) {
    .sustainability_grid{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1em;
    }
}
.col_flex{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
    margin-bottom: 10rem;
}
.history_grid{
    margin-top: -10rem;
    height: 43rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 3px solid #4E14C8;
    width: 100%;
    margin-bottom: 10rem;
    gap:5px;
}
@media screen and (max-width: 800px) {
    .history_grid{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1em;
    }
}

.festival_1{
    font-family:"urbanist";
    font-size: 18px;
    text-align: left;
    color:white; 
    letter-spacing: 1px;
    line-height:40px;
    padding:15px 20px;
    width:560px;
    margin-top:30px;
}

.festival_2{
    font-family:"urbanist";
    font-size: 18px;
    text-align: left;
    color:white; 
    letter-spacing: 1px;
    line-height:40px;
    padding:100px 20px;
    width:560px;
    margin-top:30px;
}
.about_1{
    width: 100%;
}
.green_text_2{
    font-family:"urbanist";
    font-size: 18px;
    text-align: left;
    color:#29E154;
    letter-spacing: 1px;
    line-height:40px;
    padding:15px 20px;
    width:560px;
}
.green_text{
    font-family:"urbanist";
    font-size: 18px;
    text-align: left;
    color:#29E154;
    letter-spacing: 1px;
    line-height:40px;
    padding:15px 20px;
    width:560px
}

.img_container img {
    object-fit: cover;
    float: right;
    margin: 0;
    height:-20rem;
}