.grid_1-3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-1_1_1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  
}

.box2 {
  align-items: center;
  overflow: hidden;
}
.box2 {
  width: 100%;
  height: 30rem;
  position: relative;
  margin: 0;
  padding: 0;
}

.textbox {
  z-index: 2;
}

.col_column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
