/* font */
@font-face {
  font-family: "urbanist";
  src: url(../fonts/urbanist-variablefont_wght-webfont.woff2-kopi);
}

:root {
  --backgroundColor: #140345;
  --textColor: #f5f5f5;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  margin: 30px;
}

h1,
h2 {
  font-family: "urbanist";
}

p {
  font-family: "urbanist";
}
