---
import "../styles/about_us.css";
import "../styles/style.css";
import "../styles/layout.css";
import Nav_mindre_logo from "../komponenter/Nav_mindre_logo.astro";
import Footer from "../komponenter/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>KARRUSEL</title>
  </head>
  <body>
    <header>
      <Nav_mindre_logo/> 
    </header> 
    <main>
      <h1 class="about_us">ABOUT US</h1>
      <section class="festival_experience">
        <div>
          <h2 class="festival_header">FESTIVAL EXPERIENCE</h2>
        </div>
        <div>
          <p class="festival_1">
            Karrusel believes in the right to a harassment-free festival experience. We believe in the right of everyone to express themselves. Karrusel welcomes everybody all with their different orientations, experiences, histories and backgrounds.
            Karrusel only exists if everyone takes care of each other, respects their own and others boundaries, embraces diversity and acts as a part of the community.
          </p>
          <p class="festival_1">
            If you feel unsafe, please reach out to our awareness team. They will be wearing a pink vests and walk around the site and be at their base (see on this map). Ask any festival staff and they will guide you to the them.
          </p>
          <p class="green_text">Take responsibility for your own actions. Respect your own and others boundaries. Speak up rather than look the other way</p>
        </div>
        <div>
          <img class="about_1" src="img/about_1.png" alt="festglade piger" />
        </div>
      </section>
      <section class="grid_1-1">
        <div class="content">
          <h2 class="festival_header">SUSTAINABILITY</h2>
        </div>
        <div>
          <p class="festival_1">
            Karrusel is committed to becoming more sustainable. In order to save resources and reduce waste we use left over materials and timber for stage designs and installations. We will re-use production and print materials when possible year
            after year. Beverages are served in reusable or sustainable materials. Straws are not being used.
          </p>
        </div>
        <div>
          <p class="festival_1">
            How you can help: Take a bike or public transport to the festival. Don’t bring confetti or glitter to the festival. There will be free tap water stations during the festival. Please bring an empty cup or bottle and drink nice free tap
            water.
          </p>
        </div>
      </section>
      <section class="grid_1-1">
        <div>
          <h2 class="festival_header">HISTORY</h2>
        </div>
        <div class="img_container">
          <img src="img/about_2.png" alt="koncert" />
        </div>
          <p>
            2024 marks the 5th edition of Karrusel. Karrusel is a circus themed rave presenting some of the world's leading electronic artists. Past editions include performances by Acid Pauli, Amelie Lens, Dixon, FJAAK, Folamour, Hunee, Job Jobse,
            Kölsch, Mall Grab, Nastia, Partiboi69, Peggy Gou, Richie Hawtin, Skin On Skin, The Blessed Madonna, Victor Ruiz and VTSS. The festival is open air and takes place on secluded green spot at the abandoned shipyard of Refshaleøen in central
            Copenhagen.
          </p>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>

