---
import "../styles/style.css";
import "../styles/layout.css";
import Knap from "../komponenter/Knap.astro";
import Index_card from "../komponenter/Index_card.astro";
import Navigation from "../komponenter/Navigation.astro";
import Footer from "../komponenter/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>KARRUSEL</title>
  </head>
  <body>
    <header>
      <Navigation />
    </header>
    <main>
      <div class="forside_s1 grid_1-3">
        <div class="alt_h1">
          <!-- logo -->
          <div class="h1_info">
            <img src="/img/logo.svg" alt="Logo" />
          </div>

          <!-- H1 -->
          <div class="samlet_h1 col_column">
            <h2 class="h3-vertical"><span class="festival_h2">2024</span></h2>
            <h3 class="h2-vertical">
              <span class="festival_h3">22.08 <br /> - <br />24.08</span>
            </h3>
            <div class="h1_hele">
              <h1 class="h1-vertical">
                <span class="karrusel_h1">KARRUSEL</span>
                <br /><span class="festival_h2">FESTIVAL</span>
              </h1>
            </div>
          </div>
        </div>

        <!-- første billede -->
        <div class="img_container">
          <img src="/img/forside1.jpg" alt="billede på forsiden" />
        </div>
      </div>

      <!-- buy tickets box -->

      <div class="box2">
        <div class="grid-1_1">
          <div class="textbox">
            <h1>Buy tickets for Karrusel 2024</h1>
            <h3>
              Early Bird Festival Passes on sale until 1 April. <br /> The
              Festival Pass provides access to <br />all 3 days at Karrusel from
              22 to 24 August 2024.<br /> Day tickets will go on sale later.
            </h3>
          </div>
          <Knap text="Buy ticekts" />
        </div>
      </div>
      <!-- kort skal placeres her -->
      <div class="box2">
        <div class="grid-1_1_1">
          <div class="textbox">
            <Index_card />
          </div>
          <div class="textbox">
            <Index_card />
          </div>
          <div class="textbox">
            <Index_card />
          </div>
        </div>
      </div>
      <!-- about us infor box-->
      <div class="box3">
        <div class="grid-1_1">
          <div class="textbox2">
            <h1>About us</h1>
            <h3>
              2024 marks the 5th edition of Karrusel. <br /> Karrusel is a
              circus themed rave presenting <br />some of the world's leading
              electronic artists. <br /> Past editions include performances by <br
              /> Acid Pauli, Amelie Lens, Dixon, FJAAK.
            </h3>
          </div>
          <Knap text="Read more" />
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
