---
import "../styles/style.css";
import "../styles/layout.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>KARRUSEL</title>
  </head>
  <body>
    <div class="forside_s1 grid_1-3">
      <div class="alt_h1">
        <div class="h1_info">
          <img src="" alt="Logo" />
        </div>
        <div class="samlet_h1">
          
          <h2 class="h1-vertical"><span class="festival_h2">2024</span></h2>
          <h3 class="h1-vertical">
            <span class="festival_h3">22.08 <br /> - <br />24.08</span>
          </h3>
		  <div class="h1_hele">
		  	<h1 class="h1-vertical"><span class="karrusel_h1">KARRUSEL</span></h1>
          	<h2 class="h1-vertical"><span class="festival_h2">FESTIVAL</span></h2>
		  </div>
        </div>
      </div>
      <div class="img_container">
        <img src="#" alt="billede på forsiden" />
      </div>
    </div>
    <div class="box2">
		
		<div class="grid-1_1">
			
		</div>
		

	</div>
  </body>
</html>
