---
import "../styles/singleview.css";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Kunstner</title>
  </head>
<header>
    <div class="logo">
        <a href="index.html"><img src="img/nav_logo.png" alt="logo"></a>
    </div>
    <nav>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Line up</a></li>
            <li><a href="#">Map</a></li>
            <li><a href="#">About us</a></li>
            <li class="buy-tickets"><a href="#">Buy tickets</a></li>
        </div>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
</header>
<body>
    <main>
        <section class="grid_1-1">
        <div>
            <img src="img/singleview_artist.png" alt="Peggy Gou">
        </div>
        <div>
            <h1 class="name">PEGGY GOU</h1>
            <div class="adj">
            <h3>Fluid</h3>
            <h3>Wobbly</h3>
            <h3>Techno</h3>
            </div>
            <p class="information">Peggy Gou is renowned for her electrifying DJ sets that seamlessly blend diverse genres, captivating audiences worldwide. With her infectious energy and innovative sound, she's a must-see artist for any electronic music enthusiast.</p>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1DZ06evO1lPLb3?utm_source=generator&theme=0" width="100%" height="450" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
    </section>
    <details class="scene">
    <summary>Scene</summary>
        <p>BALKONEN</p>
      </details>
      <details class="tid">
    <summary>Time</summary>
        <p>22:30 PM</p>
        </details>
          <details class="about">
    <summary>About the artist</summary>
        <p>Peggy Gou is a South Korean DJ, singer, songwriter and record producer based in Berlin, Germany. She has released seven EPs on record labels including Ninja Tune and Phonica. In 2019, she launched her own independent record label, Gudu Records.</p>
            </details>
    </main>
        <footer>
            <section class="grid_1-1-1-1">
                <div class="footer.1">
                    <h3>Newsletter</h3>
                    <form class="email-form">
                        <input type="email" id="email" name="email" placeholder="Indtast din e-mailadresse" required>
                        <button type="submit">Sign-up</button>
                    </form>
                </div>
                <div class="footer.2">
                  <h3>Contact us</h3>
                  <ul>
                    <li><p>KARRUSELFESTIVAL.COM</p></li>
                    <li><p>2300, COPENHAGEN </p></li>
                    <li><p>+45 55 67 38 54</p></li>
                </ul>
                </div>
                <div class="footer.3">
                  <h3>Thanks to</h3>
                  <ul>
                    <li><p>Heineken Silver</p></li>
                    <li><p>Refshaleøen</p></li>
                </ul>
                </div>
                <div class="footer.4">
                    <a href="index.html">
                  <img id="footer_img" src="img/footer.png" alt="Karrusel Festival logo">
                </a>
                </div>
              </section>
        </footer>
</body>
</html>